body {
  margin: 1vw 2vw;
  font-family: sans-serif;
}

.container {
  max-width: 600px;
}

.downArrow, .upArrow {
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  width: 8px;
  height: 8px;
  cursor: pointer;
}

.downArrow {
  transform: rotate(45deg);
}

.upArrow {
  transform: rotate(-135deg)
}

.line {
  display: flex;
}

label {
  flex-basis: 75%;
}
