body {
  margin: 1vw 2vw;
  font-family: 'objectiv-mk1', sans-serif;
  font-size: 22px;
}

.form-table {
  width: 100%;
  td {
    padding-bottom: 2vh;
  }
}

.primary-label {
  font-weight: 500;
}

input {
  padding: 4px;
  border: 1px solid #bbb;
  border-radius: 3px;
  &:focus {
    border: 1px solid #ffb821;
    line-height: 1.15;
  }
}

.container {
  max-width: 600px;
}

.downArrow, .upArrow {
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  width: 8px;
  height: 8px;
  cursor: pointer;
}

.downArrow {
  transform: rotate(45deg);
}

.upArrow {
  transform: rotate(-135deg)
}

.line {
  display: flex;
}

label {
  flex-basis: 75%;
}

.label-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.label-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.label-container:hover input ~ .checkmark {
  background-color: rgb(255, 184, 33, 0.418);
}

.label-container input:checked ~ .checkmark {
  background-color: rgb(255, 184, 33);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.label-container input:checked ~ .checkmark:after {
  display: block;
}

.label-container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}


.button {
  font-size: 1rem;
  font-weight: 500;
  line-height: 2;
  margin: 0.5rem 3rem;
  padding: 0 1.3rem;
  border: 2px solid #ffb821;
  background: #ffb821;
  position: relative;
  display: inline-block;
  text-decoration: none;
  border-radius: 5.2rem;
  cursor: pointer;
  transition: all .25s ease-out 0s;
  &:hover {
    border-color: #000;
    color: #000;
    background: transparent;
    transform: scale(1.05);
  }
  &:disabled {
    pointer-events: none;
    background: rgb(255, 184, 33, 0.8);
    border: none;
  }
}


.bio {
  margin-bottom: 2vh;
}
